@{
    ViewBag.Title = "Starting page";
}

@using (Html.BeginRouteForm("Default", FormMethod.Get))
{
    @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Sök" })
    <button type="submit" class="btn btn-default">Sök</button>
}
