@if (Request.IsAuthenticated)
{
    <text>
<ul class="nav navbar-nav navbar-right">
    <li class="WelcomeMessage">
        <a>
            <i class="fas fa-user"></i>  @(String.IsNullOrWhiteSpace(ViewBag.Staff.Username) ? User.Identity.Name : ViewBag.Staff.FirstName + " " + ViewBag.Staff.LastName)
        </a>
    </li>
    <li>
        <a href="@Url.Action("SignOut", "Account")"><i class="fas fa-sign-out-alt"></i> Logga ut</a>
    </li>
</ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logga in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
