@if (Request.IsAuthenticated)
{
    <text>
<ul class="nav navbar-nav navbar-right">
    <li class="WelcomeMessage">
        <a>
            Välkommen, @(String.IsNullOrWhiteSpace(ViewBag.Staff.Username) ? User.Identity.Name : ViewBag.Staff.FirstName + " " + ViewBag.Staff.LastName)!
        </a>
    </li>
    <li>
        @Html.ActionLink("Logga ut", "SignOut", "Account")
    </li>
</ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logga in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
