* {
    font-family: Poppins, sans-serif !important;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("WebImages/BgrImgColor.png");
    background-attachment:fixed;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

input:focus, textarea:focus, select:focus {
    border-color: #7BB5AD !important;
    box-shadow: 0 1px 1px #7BB5AD inset, 0 0 8px #7BB5AD !important;
    outline: 0 none;
}

.pagination li a {
    background-color: #6B6A69 !important;
    color: #FFFFFF !important;
    /*border-color: #4C4B4A;*/
}

.pagination li a:hover, .pagination > .active > a {
    /*border-color: #4C4B4A;*/
    background-color: white !important;
    color: #000000 !important;
   
}

.pagination > .active > a:hover {
    color: #000000 !important;
}

.dl-horizontal dt {
    white-space: normal;
}

a img {
    margin:5px;
}

input,
select,
textarea {
    max-width: 400px !important;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #4B4A49;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #6B6A69 !important;
    border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: text !important;
    background-color: #FFFFFF;
}

.footerText {
    color: #000000;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
    background: rgba(255,255,255, 0.5);
}

.spacer {
    margin-top: 10px;
}

footer .container {
    width: 100% !important;
    max-width: 100% !important;
    text-align:center;
}

.footerText a:hover, .footerText a:active, footerText a:visited, .footerText a:focus {
    text-decoration:none !important;
}

.dropdown a, .navbar-text, .navbar-right a {
    color: #FFFFFF !important;
}

.dropdown a:hover, .navbar-right a:hover {
    background-color: #4B4A49 !important;
}
.dropdownFas {
    display:inline-block;
    color:white;
}
.dropdown-toggle .dropdownFasCreate {
    transition: 0.6s;
    transform: rotate(0deg);
}
.dropdown-toggle:hover .dropdownFasCreate {
    transition:0.6s;
    transform: rotate(180deg);
}
.WelcomeMessage {
    margin-right: 35px;
}

.WelcomeMessage a:hover {
    background-color: #6B6A69 !important;
}

.dropdown-menu {
    background-color: #3B3A39;
    border: 0;
}

.dropdown-toggle:active {
    background-color: #4B4A49;
}

.navbar-fixed-top {
    background-color: #6B6A69;
    border: 0;
    height: 50px;
}

.search {
    justify-content: center;
    min-width: 100%;
}

.searchBar {
    align-items: center;
    min-width: 100%;
    height: 60px;
    font-size: 30px;
}

.descriptionBreaker {
    word-break:keep-all;
}

.row label{
    font-size:18px;
    margin-top:15px;
}

.input-group-btn button {
    height: 60px;
    font-size: 25px;
}

select {
    min-width: 100%;
}

.buttonStyle {
    margin-top: 5px !important;
}

.grid-container {
    width: inherit;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1.33%;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 32% 32% 32%;
        grid-gap: 1.5%;
    }
    .spacer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 990px) {
    .grid-container {
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
    }
    .spacer {
        margin-top: 100px;
    }
    canvas {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .grid-container {
        grid-template-columns: 100%;
    }
    canvas {
        display:none;
    }
}

.card {
    background-color: mintcream;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    height: 150px;
    transition: 0.5s;
    position:relative;
}

.card h3{
    word-break: break-all;
}

.card:hover {
    background-color: #6B6A69;
    color:#FFFFFF;
    transition: 0.5s;
}

.card i{
    font-size:3x;
}

.description {
    position:absolute;
    bottom:20px;
    left:5px;
    right:2px;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item a:hover {
        color: inherit;
}

footer, .btn-StickBottom {
    clear: both;
}

.inputfile-3 + label {
    color: #999999;
    padding: 5px;
    margin-top: 10px;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #666666;
}

.form-control-PDF {
    display: block;
    width: 150px;
    height: 100%;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#the-canvas {
    width: 100%;
    height: 100%;   
}
