body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("Images/BgrImage4.png");
    background-attachment:fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#copyrighter {
    color: #000000;
}

.dropdown a, .navbar-text, .navbar-right a {
    /*color: #66FCF1 !important;*/
    color: #FFFFFF !important;
}
.dropdown-menu {
    background-color: #111111;
    border: 0px;
}
.navbar-fixed-top {
    background-color: #6B6A69;
    border: 0px;
    height: 50px;
}
.form-control {
    width:100% !important;
}
.form-group {
    width: 100%;
}