body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("WebImages/BgrImage4.png");
    background-attachment:fixed;
    font-family: Poppins, sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 400px !important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #4B4A49;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #6B6A69 !important;
    border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: text !important;
}
#copyrighter {
    color: #000000;
}
.dropdown a, .navbar-text, .navbar-right a {
    color: #FFFFFF !important;
}
.dropdown a:hover, .navbar-right a:hover {
    background-color: #4B4A49 !important;
}
.WelcomeMessage {
    margin-right: 35px;
}
.WelcomeMessage a:hover {
    background-color: #6B6A69 !important;
}
.dropdown-menu {
    background-color: #3B3A39;
    border: 0;
}
.dropdown-toggle:active {
    background-color: #4B4A49;
}
.navbar-fixed-top {
    background-color: #6B6A69;
    border: 0;
    height: 50px;
}
.search{
    justify-content: center;
}
.searchBar{
    align-items:center;
    min-width:100%;
}
.searchBar input{
    height: 60px;
}
select {
    min-width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
}
@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 33% 33% 33%;
    }
}
@media screen and (max-width: 990px) {
    .grid-container {
        grid-template-columns: 
            50% 50%;
    }
}
@media screen and (max-width: 770px) {
    .grid-container {
        grid-template-columns:
            100%;
    }
}
.card {
    background-color:mintcream;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    border-radius:10px;
    height:150px;
    transition: 0.5s;
}
.card:hover{
    background-color:#6B6A69;
    transition:0.5s;
}
.item a{
    text-decoration:none;
    color:inherit;
}
.item a:hover{
    color:inherit;
}
footer, .btn-StickBottom{
    clear:both;
}